In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('C:/Users/raksh/Downloads/ds_salaries.csv')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [29]:
from sklearn.model_selection import train_test_split

In [7]:
df.describe

<bound method NDFrame.describe of       work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847                 ES           100
1       30000             USD          30000                 US           100
2       25500             USD          25500                 US           100
3      175000             USD         175000                 CA           100
4      120000             USD         120000                 CA           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000                 US           100
3751   151000             USD         151000                 US           100
3752   105000             USD         105000                 US           100
3753   100000             USD         100000                 US           100
3754  7000000             INR          94665                 IN            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 11 columns]>

In [8]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le= LabelEncoder()

In [23]:
dfa=df
dfa.job_title=le.fit_transform(df.job_title)
dfa.experience_level=le.fit_transform(df.experience_level)
dfa

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,3,FT,84,80000,EUR,85847,ES,100,ES,L
1,2023,2,CT,66,30000,USD,30000,US,100,US,S
2,2023,2,CT,66,25500,USD,25500,US,100,US,S
3,2023,3,FT,47,175000,USD,175000,CA,100,CA,M
4,2023,3,FT,47,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,3,FT,47,412000,USD,412000,US,100,US,L
3751,2021,2,FT,84,151000,USD,151000,US,100,US,L
3752,2020,0,FT,47,105000,USD,105000,US,100,US,S
3753,2020,0,CT,17,100000,USD,100000,US,100,US,L
3754,2021,3,FT,45,7000000,INR,94665,IN,50,IN,L

In [24]:
x=df[['experience_level','job_title']]
y=df['salary']

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [31]:
len(x_train)

3004

In [32]:
from sklearn.linear_model import LinearRegression
clf=LinearRegression()

In [34]:
len(y_train)

751

In [41]:
clf.fit(x_train,y_train)

LinearRegression()

In [37]:
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [42]:
clf.predict(x_test)

array([189565.82885337, 171017.92833639, 249252.27082518, 171017.92833639,
       171017.92833639, 180314.60869824, 160419.12804097, 238608.01032304,
       172342.77837332, 180314.60869824, 218712.52966577, 171017.92833639,
       238608.01032304, 160419.12804097, 226661.62988734, 218712.52966577,
       160419.12804097, 189565.82885337, 132597.2772655 , 160419.12804097,
       189565.82885337, 176317.3284841 , 189565.82885337, 168368.22826254,
       303571.1223392 , 171017.92833639, 190913.40899366, 201557.6694958 ,
       214737.97955499, 249252.27082518, 202837.05932601, 160419.12804097,
       137896.67741321, 182941.57866874, 190913.40899366, 180314.60869824,
       220037.3797027 , 243884.68036739, 171017.92833639, 278398.97163758,
       171017.92833639, 180314.60869824, 238608.01032304, 169715.80840283,
       189565.82885337, 176317.3284841 , 218712.52966577, 180314.60869824,
       189565.82885337, 209461.30951064, 189565.82885337, 229356.79016791,
       186916.12877952, 230704.3703082 , 180314.60869824, 189565.82885337,
       171017.92833639, 160419.12804097, 189565.82885337, 171017.92833639,
       220105.57001278, 214737.97955499, 189565.82885337, 171017.92833639,
       292972.32204378, 189565.82885337, 171017.92833639, 160419.12804097,
       186916.12877952, 171017.92833639, 171017.92833639, 189565.82885337,
       160419.12804097, 189565.82885337, 238608.01032304, 171017.92833639,
       189565.82885337, 190913.40899366, 171017.92833639, 180314.60869824,
       190913.40899366, 189565.82885337, 238608.01032304, 214737.97955499,
       218712.52966577, 160419.12804097, 189565.82885337, 160419.12804097,
       171017.92833639, 238608.01032304, 145845.77763477, 218712.52966577,
       208181.91968044, 171017.92833639, 209461.30951064, 189565.82885337,
       160419.12804097, 230704.3703082 , 231961.03003504, 148518.20781199,
       171017.92833639, 189565.82885337, 171017.92833639, 229356.79016791,
       171017.92833639, 189565.82885337, 160419.12804097, 218712.52966577,
       132597.2772655 , 171017.92833639, 190913.40899366, 137896.67741321,
       186916.12877952, 160419.12804097, 171017.92833639, 171017.92833639,
       171017.92833639, 171017.92833639, 186916.12877952, 190913.40899366,
       189565.82885337, 168368.22826254, 209461.30951064, 171017.92833639,
       189565.82885337, 180314.60869824, 168368.22826254, 180314.60869824,
       229334.06006455, 186916.12877952, 230704.3703082 , 180314.60869824,
       171017.92833639, 151167.90788584, 171017.92833639, 189565.82885337,
       188309.16912653, 189565.82885337, 171017.92833639, 246579.84064797,
       180314.60869824, 239932.86035997, 189565.82885337, 243930.14057411,
       189565.82885337, 189565.82885337, 189565.82885337, 160419.12804097,
       186916.12877952, 190913.40899366, 210808.88965093, 189565.82885337,
       189565.82885337, 218712.52966577, 189565.82885337, 160419.12804097,
       218712.52966577, 171017.92833639, 132597.2772655 , 249252.27082518,
       304895.97237613, 204207.36956966, 209461.30951064, 189565.82885337,
       218712.52966577, 160419.12804097, 171017.92833639, 171017.92833639,
       189565.82885337, 185591.27874259, 160419.12804097, 171017.92833639,
       192238.25903059, 189565.82885337, 136571.82737628, 285023.22182222,
       137896.67741321, 265127.74116495, 171017.92833639, 238608.01032304,
       132597.2772655 , 190913.40899366, 238585.28021968, 230704.3703082 ,
       190913.40899366, 171017.92833639, 225336.77985041, 160419.12804097,
       189565.82885337, 189565.82885337, 189565.82885337, 190913.40899366,
       180314.60869824, 160419.12804097, 230704.3703082 , 229334.06006455,
       180314.60869824, 189565.82885337, 189565.82885337, 180314.60869824,
       171017.92833639, 209461.30951064, 189565.82885337, 180314.60869824,
       189565.82885337, 225336.77985041, 171017.92833639, 218712.52966577,
       171017.92833639, 209438.57940728, 262500.77119445, 237283.16028611,
       243884.68036739, 155119.72789326, 137896.67741321, 160419.12804097,
       238608.01032304, 189565.82885337, 171017.92833639, 193608.56927424,
       160419.12804097, 180314.60869824, 189565.82885337, 176317.3284841 ,
       243907.41047075, 190913.40899366, 160419.12804097, 189565.82885337,
       249252.27082518, 189565.82885337, 186916.12877952, 171017.92833639,
       171017.92833639, 171017.92833639, 160419.12804097, 189565.82885337,
       218712.52966577, 180314.60869824, 137896.67741321, 189565.82885337,
       160419.12804097, 189565.82885337, 189565.82885337, 265105.01106159,
       238608.01032304, 265105.01106159, 160419.12804097, 242628.02064055,
       171017.92833639, 190913.40899366, 160419.12804097, 189565.82885337,
       180314.60869824, 218712.52966577, 190913.40899366, 189565.82885337,
       160419.12804097, 168368.22826254, 171017.92833639, 186916.12877952,
       209461.30951064, 168368.22826254, 304895.97237613, 189565.82885337,
       132597.2772655 , 171017.92833639, 168368.22826254, 249252.27082518,
       209461.30951064, 189565.82885337, 156467.30803355, 189565.82885337,
       206811.60943679, 168368.22826254, 160419.12804097, 245209.53040432,
       132597.2772655 , 171017.92833639, 189565.82885337, 171017.92833639,
       238608.01032304, 180291.87859488, 180314.60869824, 171017.92833639,
       171017.92833639, 160419.12804097, 171017.92833639, 220105.57001278,
       220105.57001278, 249252.27082518, 171017.92833639, 190913.40899366,
       189565.82885337, 160419.12804097, 171017.92833639, 171017.92833639,
       171017.92833639, 160419.12804097, 220105.57001278, 220105.57001278,
       182964.3087721 , 209461.30951064, 160419.12804097, 180314.60869824,
       160419.12804097, 218712.52966577, 190913.40899366, 171017.92833639,
       290322.62196993, 171017.92833639, 218712.52966577, 171017.92833639,
       131272.42722857, 171017.92833639, 171017.92833639, 132597.2772655 ,
       190913.40899366, 218712.52966577, 189565.82885337, 218712.52966577,
       218712.52966577, 245232.26050768, 209461.30951064, 160419.12804097,
       160419.12804097, 160419.12804097, 152492.75792277, 171017.92833639,
       171017.92833639, 218735.25976913, 160419.12804097, 237305.89038948,
       218712.52966577, 220105.57001278, 189565.82885337, 165718.52818868,
       218712.52966577, 190913.40899366, 171017.92833639, 230704.3703082 ,
       189565.82885337, 189565.82885337, 171017.92833639, 188263.70891981,
       160419.12804097, 189565.82885337, 243884.68036739, 133922.12730243,
       160419.12804097, 171017.92833639, 160419.12804097, 234633.46021226,
       218712.52966577, 189565.82885337, 200187.35925215, 189565.82885337,
       189565.82885337, 171017.92833639, 165718.52818868, 160419.12804097,
       189565.82885337, 189565.82885337, 132597.2772655 , 249252.27082518,
       171017.92833639, 160419.12804097, 171017.92833639, 189565.82885337,
       189565.82885337, 239932.86035997, 171017.92833639, 218735.25976913,
       171017.92833639, 137896.67741321, 171017.92833639, 218712.52966577,
       180314.60869824, 238608.01032304, 189565.82885337, 245209.53040432,
       206811.60943679, 160419.12804097, 181639.45873517, 171017.92833639,
       205532.21960658, 218712.52966577, 171017.92833639, 245232.26050768,
       145845.77763477, 190913.40899366, 145845.77763477, 160419.12804097,
       189565.82885337, 245209.53040432, 189565.82885337, 171017.92833639,
       171017.92833639, 210808.88965093, 189565.82885337, 171017.92833639,
       218712.52966577, 171017.92833639, 188263.70891981, 151145.17778248,
       171017.92833639, 171017.92833639, 230704.3703082 , 243884.68036739,
       218712.52966577, 171017.92833639, 168368.22826254, 171017.92833639,
       171017.92833639, 190913.40899366, 160419.12804097, 137896.67741321,
       278398.97163758, 189565.82885337, 165718.52818868, 214737.97955499,
       190958.86920038, 226661.62988734, 160419.12804097, 220060.10980606,
       171017.92833639, 171017.92833639, 189565.82885337, 132597.2772655 ,
       190913.40899366, 171017.92833639, 160419.12804097, 160419.12804097,
       171017.92833639, 189634.01916346, 202837.05932601, 163091.55821819,
       190913.40899366, 189565.82885337, 263780.16102466, 168368.22826254,
       171017.92833639, 180314.60869824, 238608.01032304, 189565.82885337,
       160419.12804097, 171017.92833639, 245209.53040432, 171017.92833639,
       216131.019902  , 137896.67741321, 180314.60869824, 189565.82885337,
       249252.27082518, 278398.97163758, 189565.82885337, 218712.52966577,
       157769.42796712, 171017.92833639, 171017.92833639, 180314.60869824,
       189565.82885337, 230704.3703082 , 214737.97955499, 171017.92833639,
       241303.17060362, 171017.92833639, 137896.67741321, 189565.82885337,
       171017.92833639, 238608.01032304, 210808.88965093, 171017.92833639,
       155142.45799663, 210763.42944421, 160419.12804097, 189565.82885337,
       160419.12804097, 189565.82885337, 171017.92833639, 168368.22826254,
       214737.97955499, 180314.60869824, 171017.92833639, 189565.82885337,
       189565.82885337, 171017.92833639, 210808.88965093, 209461.30951064,
       189565.82885337, 189565.82885337, 171017.92833639, 160419.12804097,
       258480.76087695, 171017.92833639, 171017.92833639, 160419.12804097,
       151145.17778248, 171017.92833639, 189565.82885337, 209461.30951064,
       189565.82885337, 218712.52966577, 160419.12804097, 214737.97955499,
       218712.52966577, 132597.2772655 , 189565.82885337, 189565.82885337,
       160419.12804097, 209461.30951064, 230704.3703082 , 132597.2772655 ,
       171017.92833639, 209461.30951064, 186916.12877952, 171017.92833639,
       192215.52892723, 218712.52966577, 303571.1223392 , 190913.40899366,
       171017.92833639, 220105.57001278, 171017.92833639, 243907.41047075,
       160419.12804097, 180314.60869824, 189565.82885337, 189565.82885337,
       189565.82885337, 188263.70891981, 189565.82885337, 172388.23858004,
       189565.82885337, 220105.57001278, 214760.70965835, 218712.52966577,
       160419.12804097, 186916.12877952, 171017.92833639, 205486.75939986,
       209461.30951064, 189565.82885337, 171017.92833639, 263780.16102466,
       190913.40899366, 165718.52818868, 167043.37822561, 249252.27082518,
       218712.52966577, 171017.92833639, 160419.12804097, 171017.92833639,
       189565.82885337, 171017.92833639, 285023.22182222, 189565.82885337,
       192215.52892723, 160419.12804097, 189565.82885337, 171017.92833639,
       189565.82885337, 197514.92907494, 160419.12804097, 160419.12804097,
       218712.52966577, 171017.92833639, 218712.52966577, 181616.72863181,
       209506.76971737, 190913.40899366, 189565.82885337, 190913.40899366,
       180314.60869824, 160419.12804097, 189565.82885337, 214737.97955499,
       160419.12804097, 171017.92833639, 225336.77985041, 160419.12804097,
       171017.92833639, 171017.92833639, 160419.12804097, 238608.01032304,
       190913.40899366, 160419.12804097, 160419.12804097, 160419.12804097,
       160419.12804097, 189565.82885337, 225359.50995377, 160419.12804097,
       180314.60869824, 230704.3703082 , 157769.42796712, 171017.92833639,
       160419.12804097, 189565.82885337, 249252.27082518, 212088.27948114,
       204139.17925957, 190913.40899366, 140546.37748707, 171017.92833639,
       189565.82885337, 160419.12804097, 189565.82885337, 156467.30803355,
       186916.12877952, 189565.82885337, 189565.82885337, 189565.82885337,
       189565.82885337, 220105.57001278, 218712.52966577, 218712.52966577,
       189565.82885337, 171017.92833639, 218712.52966577, 160419.12804097,
       238608.01032304, 249252.27082518, 168368.22826254, 230704.3703082 ,
       189565.82885337, 136571.82737628, 189565.82885337, 189565.82885337,
       218712.52966577, 230704.3703082 , 180314.60869824, 160419.12804097,
       190913.40899366, 171017.92833639, 229311.32996119, 249252.27082518,
       218712.52966577, 171017.92833639, 168368.22826254, 189565.82885337,
       172388.23858004, 221430.42004971, 171017.92833639, 160419.12804097,
       160419.12804097, 190913.40899366, 171017.92833639, 189565.82885337,
       209461.30951064, 171017.92833639, 171017.92833639, 171017.92833639,
       157769.42796712, 190913.40899366, 189565.82885337, 189565.82885337,
       168368.22826254, 190913.40899366, 189565.82885337, 171017.92833639,
       214737.97955499, 209461.30951064, 189565.82885337, 189565.82885337,
       181616.72863181, 171017.92833639, 218712.52966577, 171017.92833639,
       189565.82885337, 180314.60869824, 230704.3703082 , 160419.12804097,
       189565.82885337, 171017.92833639, 185614.00884595, 205486.75939986,
       190913.40899366, 220105.57001278, 178967.02855795, 180314.60869824,
       196212.80914137, 230704.3703082 , 189565.82885337, 238608.01032304,
       171017.92833639, 171017.92833639, 160419.12804097, 189565.82885337,
       190913.40899366, 190913.40899366, 171017.92833639, 208181.91968044,
       160419.12804097, 168368.22826254, 171017.92833639, 189565.82885337,
       189565.82885337, 189565.82885337, 160419.12804097, 160419.12804097,
       189565.82885337, 218712.52966577, 171017.92833639, 209461.30951064,
       160419.12804097, 218712.52966577, 189565.82885337, 171017.92833639,
       171017.92833639, 220105.57001278, 190913.40899366, 171017.92833639,
       184289.15880903, 160419.12804097, 218712.52966577, 210808.88965093,
       171017.92833639, 160419.12804097, 238608.01032304, 152492.75792277,
       171017.92833639, 160419.12804097, 226707.09009406, 189565.82885337,
       190913.40899366, 171017.92833639, 171017.92833639, 180314.60869824,
       171017.92833639, 218712.52966577, 243884.68036739, 189565.82885337,
       212088.27948114, 265105.01106159, 189565.82885337, 171017.92833639,
       189565.82885337, 176317.3284841 , 189565.82885337, 168368.22826254,
       190913.40899366, 180314.60869824, 197583.11938502, 132597.2772655 ,
       160419.12804097, 265105.01106159, 218712.52966577, 189565.82885337,
       189565.82885337, 238608.01032304, 171017.92833639])

In [43]:
clf.score(x_test,y_test)

0.005295991814486811